{% extends 'shared/basepage.html.twig' %}

{% block content %}

<form action="/admin/blog-form" method="post">
<fieldset>
    <legend>Blog Form</legend>
    <input type="hidden" name="id" value="{{blog ? blog.id : ''}}">


    <div class="input-group vertical">
        <label for="title">Blog title:</label>
        <input id="title" name="title" type="text" class="form-control"
            value="{{blog ? blog.title : ''}}">
    </div>


    <div class="input-group vertical">
        <label for="game">Game:</label>
        <select id="game" name="game">
            <option></option>
            {% for game in games %}
                {% set selected = blog and blog.game.id is same as(game.id)
                    ? 'selected' : '' %}
                <option value="{{game.id}}" {{selected}}>{{game.title}}</option>
            {% endfor %}
        </select>
    </div>


    <div class="input-group vertical">
        <label for="body">Content:</label>
        <textarea id="body" name="body" class="form-control">{{blog ? blog.body : ''}}</textarea>
    </div>

    <div class="input-group">
        <button type="reset" onclick="location.href='/admin/blogs'">Cancel</button>
        <button type="submit" class="primary">Save</button>
    </div>
</fieldset>
</form>
<script>
(() => { // render wysiwyg editor
    window.onload = () => {
        ClassicEditor.create(document.querySelector('#body'))
        .catch(error => console.log(error));
    };
})()
</script>
{% endblock %}
