{% extends 'shared/basepage.html.twig' %}

{% block content %}

<h2>Blogs</h2>
<hr>
{% for blog in blogs %}
<article>
    <header>
        {{blog.title}} | <a href="/admin/blog-form/{{blog.id}}">Edit</a> | <a class="delete-link" href="/admin/blogs/{{blog.id}}">Delete</a>
    </header>
    <p>Game: {{blog.game.title}}</p>
    <p>Published on {{blog.dateCreated|date("F jS \\a\\t g:ia")}}</p>
    <section>
        {{blog.body | raw}}
    </section>
</article>
<hr>
{% endfor %}

<p><a href="/admin/blog-form">Add blog</a></p>

<script src="/assets/dist/js/blogs.js"></script>
{% endblock %}
