{% extends 'shared/basepage.html.twig' %}

{% block content %}

<ul>Games:
    {% for game in games %}
    <li>
        {{game.title}} | {{game.system.title}} | {{game.year}} | {{game.completedAsText()}} | <a href="/admin/game-form/{{game.id}}">Edit</a> | <a class="delete-link" href="/admin/games/{{game.id}}">Delete</a>
    </li>
    {% endfor %}
</ul>

<p><a href="/admin/game-form">Add game</a></p>

<script src="/assets/dist/js/games.js" type="module"></script>
{% endblock %}
