{% extends 'shared/basepage.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
{% if user %}
<h1>Welcome home, {{ user.username }}!</h1>
{% else %}
<h1>Welcome home!</h1>
{% endif %}

{% if keys %}
<ul>Cache keys:
{% for k in keys %}
    <li>{{k}}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
