{% extends 'shared/basepage.html.twig' %}

{% block content %}
{% if msg %}<p>{{ msg }}</p> {% endif %}
<form action="login" method="post">
  <fieldset>
    <legend>Log in</legend>
    <label>Username:
      <input type="text" name="username" required>
    </label>
    <label>Password:
      <input type="password" name="pass" required>
    </label>
    <button type="submit">Login</button>
    <button type="clear">Clear</button>
  </fieldset>
</form>
{% endblock %}
