{% extends 'shared/basepage.html.twig' %}

{% block content %}
{% if msg %}<p>{{ msg }}</p> {% endif %}
<form action="new-user" method="post">
  <fieldset>
    <legend>Create new user</legend>
    <label>Username:
      <input type="text" name="username" required>
    </label>
    <label>Password:
      <input type="password" name="pass" required>
    </label>
    <label>Confirm:
      <input type="password" name="confirm" required>
    </label>
    <button type="submit">Save</button>
    <button type="clear">Clear</button>
  </fieldset>
</form>
{% endblock %}
